/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
.side-toggle {
  background: 0 0;
  border: 0;
  padding: 0
}

.side-menu-icon i {
  color: #102579;
  font-size: 32px;
  cursor: pointer
}

.side-info {
  background: #152136;
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 9999;
  right: -100%;
  top: 0;
  padding: 30px;
  transition: .6s;
  overflow-y: scroll
}

.side-info.info-open {
  right: 0
}

.side-info-close {
  background: 0 0;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin-bottom: 20px
}

.side-info-content h1 {
  color: #fff;
  font-size: 29px
}

.offcanvas-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden
}

.offcanvas-overlay.overlay-open {
  opacity: .5;
  visibility: visible
}